@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.detail-products {
  width: 30%;
  margin: 20px 10px;
  font-family: "Merriweather", serif;
}
.card {
  text-decoration: none;
  color: black;
  text-align: center;
}

.detail-products button {
  width: 25px;
  height: 25px;
  border-radius: 1000px;
  border: none;
}

#selected {
  box-sizing: border-box;
  border: 1px solid red;
}
