.cart-item {
  border: 1px solid black;
  padding: 1em 3em;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  width: 65%;
  margin: 0 auto 2em;
  display: flex;
  align-items: center;
  gap: 3em;
  justify-content: space-between;
}

.cart-item img {
  width: 250px;
}

.cart-item-title {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
}

.cart-item hr {
  margin: 10px 0;
}

.cart-item-left {
  width: 800px;
}

.cart-item-price,
.cart-item-description {
  font-family: "Roboto Condensed", sans-serif;
}

.cart-total-price {
  text-align: end;
  font-family: "Merriweather", serif;
  font-size: 24px;
}

.cart-item button {
  background: transparent;
  border: none;
}

@media (max-width: 992px) {
  .cart-container {
    margin-top: 2em;
    gap: 0;
  }
  .cart-item-left {
    width: auto;
  }
  .cart-item-title {
    width: 100px;
  }
  .cart-item img {
    width: 150px;
    margin: 0 10px;
  }
  .cart-item-description,
  .cart-item hr {
    display: none;
  }
  .cart-item {
    gap: 0;
    padding: 1em;
  }
  .cart-item-title {
    font-size: 30px;
  }
}
