.support-team-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 4em;
  border-radius: 10px;
  margin: 1em 0;
  font-size: 15px;
  align-items: center;
}

.team-links {
  font-size: 30px;
}

.team-links i {
  margin-left: 10px;
  color: black;
}
