header {
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 600;
}

.support-container {
  display: flex;
  gap: 2em;
  width: 80vw;
  margin: 5px auto;
}

.support-left {
  background: #f0f0f0;
  width: 50%;
  padding: 2em;
  border-radius: 10px;
  font-family: "Merriweather", serif;
}

.support-content {
  font-size: 16px;
}

.support-team {
  margin-top: 1em;
}

.support-right {
  width: 50%;
  font-family: "Merriweather", serif;
}

#contact-message {
  resize: none;
  height: 300px;
}

.form-bottom {
  display: flex;
}

.contact-submit {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  float: right;
  padding: 10px 20px;
}

#contact-alert {
  font-size: 12px;
  width: 100%;
  margin: 0 0 0 10px;
}

@media (max-width: 990px) {
  .support-container {
    flex-direction: column;
  }
  .support-left {
    width: 100%;
  }
  .support-right {
    width: 100%;
  }
}
