.sign-in-container form {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d962;
  width: 600px;
  text-align: center;
  border: 1px solid black;
  padding: 3em 5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.sign-in-container label {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
}

.sign-in-form > input {
  background: #ebebeb;
  border: none;
  box-shadow: inset -3px 5px 7px 0px rgb(0 0 0 / 20%);
  padding: 10px;
  font-family: "Merriweather", serif;
  font-size: 12px;
  margin: 3em 0;
}

.sign-in-form > button {
  background: black;
  color: white;
  width: 70%;
  padding: 10px;
  margin: 3em auto 0;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#create-account {
  background-color: #ef1be7;
  color: white;
  padding: 10px 60px;
  font-size: 14px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
