.product-create {
  width: 500px;
  margin: 0 auto;
}

.create-form {
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 300px;
  background-color: #0c0b0b;
}

.productCreate-image {
  object-fit: contain;
}

.productCreate-image2 {
  width: 200px;
  background-color: black;
}

.input-title {
  padding: 3em;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.input-image-link {
  padding: 3em;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.textarea-description {
  padding: 3em;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.input-price {
  padding: 3em;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.input-color {
  padding: 3em;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.submit-button {
  color: white;
  background-color: black;
  padding: 10px 60px;
}
