.fixit {
  display: flex;
  justify-content: center;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d962;
  width: 600px;
  text-align: center;
  border: 1px solid black;
  padding: 3em 5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.label-stuff {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
}

.newsletter-container > input {
  background: #ebebeb;
  border: none;
  box-shadow: inset -3px 5px 7px 0px rgb(0 0 0 / 20%);
  padding: 10px;
  font-family: "Merriweather", serif;
  font-size: 12px;
  margin: 3em 0;
  width: 100%;
}

.news-submit {
  background: black;
  color: white;
  width: 75px;
  padding: 10px;
  margin: 3em auto 0;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
