.products-wrapper {
  display: flex;
  width: 100%;
  margin: auto 0;
  justify-content: center;
}
.products-image2,
.products-image1,
.middle-wrapper {
  width: 21%;
}

.middle-wrapper {
  width: 50%;
  margin-left: 59px;
  margin-right: 45px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}

@media (max-width:1282px){
  .products-image2,
.products-image1,
.middle-wrapper {
  width: 20%;
}

.middle-wrapper {
  width: 50%;
  margin-left: 59px;
  margin-right: 45px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
}
}

@media (max-width: 990px) {
  .products-wrapper img {
    display: none;
  }
  .products-wrapper {
    width: 100%;
  }

  .middle-wrapper {
    width: 100vw;
    margin: 0;
  }
}
